#Requires AutoHotkey v2.0
#SingleInstance Force

; Control Alt R
^!r::
{
    Reload()
    TrayTip("Reloaded", A_ScriptName)
}

{{ if .features.windows.vpn.ahk -}}
#Include ./vpn.ahk
{{ end -}}
{{ if .features.windows.thinlinc.ahk -}}
#Include ./thinlinc.ahk
{{ end -}}
{{ if .features.windows.autohotkey.ytMusic -}}
#Include ./yt_music.ahk
{{ end -}}
{{ if .features.windows.autohotkey.umlaut -}}
#Include ./umlaut.ahk
{{ end }}
loop {
    Sleep(1000)
{{- if .features.windows.vpn.ahk }}
    VPNLoop()
{{- end }}
{{- if .features.windows.thinlinc.ahk }}
    ThinLincLoop()
{{- end }}
}
